@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
//font-family: 'Rock Salt', cursive;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: seashell;
  font-family: 'Rock Salt', cursive;
}
img {
  max-width: 100%;
}

#navbar {
  // z-index: 100;
  background-color: #b9f1fe;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 30px;
  #logo {
    margin: 6px;
    width: 40vw;
  }
}

#surf-data {
  margin-top: 100px;

  #wave-data {
    background-color: #47daff;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;

    .cardinal-arrow {
      width: 50px;
    }
  }
  #wind-data {
    background-color: aqua;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .blob {
    position: relative;
    text-align: center;
    width: 100px;
    // color: white;
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      // background-color: aquamarine;
    }
  }
}
