@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
//font-family: 'Rock Salt', cursive;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: seashell;
  font-family: 'Rock Salt', cursive;
  padding: 10px;
}
img {
  max-width: 100%;
}
#wrapper {
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app {
  max-width: 450px;
}
#navbar {
  z-index: 100;
  background-color: #b9f1fe;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 75px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 30px;
  #logo {
    margin: 0.3rem 3rem 0.3rem 0.5rem;
  }
}

#surf-data {
  margin-top: 80px;
  .info-box {
    background-color: transparentize($color: pink, $amount: 0.5);
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-align: center;
    div {
      background-color: salmon;
      padding: 10px;
      border-radius: 10px;
    }
  }
  .stat {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    text-align: center;
    align-items: center;
    // background-color: red;
    margin: 2px;
    // max-width: 110px;
    max-width: 30%;
    span {
      font-size: 16px;
    }
  }
  #wave-data {
    background-color: #47daff;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
  }
  #wind-data {
    background-color: aqua;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .blob {
    position: relative;
    text-align: center;
    width: 100px;
    // color: white;
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      // background-color: aquamarine;
    }
  }
}
